<?xml version="1.0"?>
<appSettings>
  <add key="KVL.Portal.Email.HttpsEnabled" value="false" />
  <add key="KVL.Portal.Email.IsBodyHtml" value="true" />
  <add key="KVL.Portal.Email.UseDefaultCredentials" value="false" />
  <add key="KVL.Portal.Email.Host" value="mail.ligacearensef7.com.br" />
  <add key="KVL.Portal.Email.Port" value="25" />
  <add key="KVL.Portal.Email.User" value="postmaster@ligacearensef7.com.br" />
  <add key="KVL.Portal.Email.Password" value="123456q!" />
</appSettings>
