<?xml version="1.0"?>
<appSettings>
  <add key="KVL.Portal.Email.HttpsEnabled" value="false" />
  <add key="KVL.Portal.Email.IsBodyHtml" value="true" />
  <add key="KVL.Portal.Email.UseDefaultCredentials" value="false" />
  <add key="KVL.Portal.Email.Host" value="" />
  <add key="KVL.Portal.Email.Port" value="25" />
  <add key="KVL.Portal.Email.User" value="" />
  <add key="KVL.Portal.Email.Password" value="" />
</appSettings>
