<?xml version="1.0"?>
<connectionStrings>
  <add name="ModeloDados" connectionString="data source=LAPTOP-GESSE\SQLEXPRESS;initial catalog=campeonato;integrated security=True;MultipleActiveResultSets=True;App=EntityFramework;MultipleActiveResultSets=true;" providerName="System.Data.SqlClient" /> 
</connectionStrings>
