<?xml version="1.0"?>
<connectionStrings>
  <add name="ModeloDados" connectionString="data source=GESSE\SQLEXPRESS;initial catalog=campeonato;integrated security=True;MultipleActiveResultSets=True;App=EntityFramework;MultipleActiveResultSets=true;" providerName="System.Data.SqlClient" />
  <add name="ModeloDadosSite" connectionString="Data Source=SQL5017.Smarterasp.net;Initial Catalog=DB_9D81D5_campeonato;User Id=DB_9D81D5_campeonato_admin;Password=darlan1510;MultipleActiveResultSets=true;" providerName="System.Data.SqlClient" />
</connectionStrings>
