@{
    ViewBag.Title = "Confirmação de redefinição de senha";
    Layout = "~/Views/Shared/_LayoutLogin.cshtml";
}

<hgroup class="title">
    <h1>@ViewBag.Title.</h1>
</hgroup>
<div class="col-md-8">
    <p>
        Sua senha foi redefinida. Por favor @Html.ActionLink("Clique aqui para o login", "Login", "Login", routeValues: null, htmlAttributes: new { id = "loginLink" })
    </p>
</div>
